.animated-gradient-text {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  transition: box-shadow 0.5s ease-out;
  overflow: visible;
}

.animated-gradient-text.pause-on-hover:hover .text-content,
.animated-gradient-text.pause-on-hover:hover .gradient-overlay {
  animation-play-state: paused;
}

.animated-gradient-text.with-border {
  padding: 0.35rem 0.75rem;
}

.gradient-overlay {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
  animation: gradientTextMove 6s linear infinite;
}

.gradient-overlay::before {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background-color: #120F17;
  z-index: -1;
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientTextMove 6s linear infinite;
}

@keyframes gradientTextMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
