.shiny-text {
  display: inline-block;
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shinyTextSweep 3.5s linear infinite;
}

@keyframes shinyTextSweep {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
